.button-icon{
    padding: 10px;
    background: var(--white);
    border-radius: 4px;
    border: 2px solid var(--purple);
    text-decoration: none;
    display: inline-block;

}

.button-icon img{
    vertical-align: middle;
}