.menu{
    display: none;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
}
.menu ul a{
    text-decoration: none;
    color: var(--white);
    font: var(--button);
    text-transform: uppercase;
}

.menu ul a.is-active{
    color: var(--purple);
}

@media (min-width: 768px) {
    .menu{
        display: block;
    }
    
}